* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #810ac1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
    color: #0d0315;
}

.about, .mission, .features, .contact {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #9108e1;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}